<ion-header>
  <ion-toolbar>
    <ion-title>Card</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>lala</ion-card-subtitle>
      <ion-card-title>haha u gay nigga</ion-card-title>
    </ion-card-header>

    <ion-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, cupiditate ullam mollitia dolore esse fugiat voluptatum laboriosam inventore delectus architecto. At repellat eos natus praesentium mollitia fugiat rem possimus nihil?</ion-card-content>
  </ion-card>

</ion-content>
